.IdentitySelectionPage {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IdentitySelectionContainer {
    height: auto;
    width: 22%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.IdentitySelectionBackImage {
    position: absolute;
    z-index: -1;
}

h1,
h4 {
    text-align: center;
    color: white;
}