.IdentitySelectionPage {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IdentitySelectionContainer {
    height: auto;
    width: 45%;
    background: rgba(7, 7, 7, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.IdentitySelectionBackImage {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bottom-margin {
    margin-bottom: 5px;
}

h1,
h4 {
    text-align: center;
    color: white;
}